<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= user.is_admin %>
  </p>

  <p>
    <strong>Is moderator:</strong>
    <%= user.is_moderator %>
  </p>

  <p>
    <strong>Is published:</strong>
    <%= user.is_published %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= user.url %>
  </p>

  <p>
    <strong>Profile image:</strong>
    <%= link_to user.profile_image.filename, user.profile_image if user.profile_image.attached? %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= user.image_url %>
  </p>

</div>
