<p style="color: green"><%= notice %></p>

<%= render @art %>

<div>
  <%= link_to "Edit this art", edit_art_path(@art) %> |
  <%= link_to "Back to art", art_index_path %>

  <%= button_to "Destroy this art", @art, method: :delete %>
</div>
